@page
@model FrontlineTCG.Web.Pages.Cards.EditUCModel

@{
    ViewData["Title"] = "EditUC";
}

<h1>Edit</h1>

<h4>UnitCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitCard.HP" class="control-label"></label>
                <input asp-for="UnitCard.HP" class="form-control" />
                <span asp-validation-for="UnitCard.HP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCard.DmgUnarmored" class="control-label"></label>
                <input asp-for="UnitCard.DmgUnarmored" class="form-control" />
                <span asp-validation-for="UnitCard.DmgUnarmored" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCard.DmgArmored" class="control-label"></label>
                <input asp-for="UnitCard.DmgArmored" class="form-control" />
                <span asp-validation-for="UnitCard.DmgArmored" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCard.DmgStructure" class="control-label"></label>
                <input asp-for="UnitCard.DmgStructure" class="form-control" />
                <span asp-validation-for="UnitCard.DmgStructure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCard.DmgAir" class="control-label"></label>
                <input asp-for="UnitCard.DmgAir" class="form-control" />
                <span asp-validation-for="UnitCard.DmgAir" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UnitCard.Id" />
            <input type="hidden" asp-for="UnitCard.Card" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
