@page
@model FrontlineTCG.Web.Pages.CardAbilities.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CardAbility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardAbility.AbilityName" class="control-label"></label>
                <input asp-for="CardAbility.AbilityName" class="form-control" />
                <span asp-validation-for="CardAbility.AbilityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardAbility.AbilityDescription" class="control-label"></label>
                <input asp-for="CardAbility.AbilityDescription" class="form-control" />
                <span asp-validation-for="CardAbility.AbilityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardAbility.ActivationCount" class="control-label"></label>
                <input asp-for="CardAbility.ActivationCount" class="form-control" />
                <span asp-validation-for="CardAbility.ActivationCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardAbility.ActivationRange" class="control-label"></label>
                <input asp-for="CardAbility.ActivationRange" class="form-control" />
                <span asp-validation-for="CardAbility.ActivationRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
